<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WebEditor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WFFollow</servlet-name>
    <servlet-class>cnr.icar.aose.demo.WFFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WFFollow</servlet-name>
    <url-pattern>/WebEditor/WFFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InjectGoals</servlet-name>
    <servlet-class>cnr.icar.aose.demo.InjectGoals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InjectGoals</servlet-name>
    <url-pattern>/WebEditor/InjectGoals</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadWFCapabilities</servlet-name>
    <servlet-class>cnr.icar.aose.demo.LoadWFCapabilities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadWFCapabilities</servlet-name>
    <url-pattern>/WebEditor/LoadWFCapabilities</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MusaStatus</servlet-name>
    <servlet-class>cnr.icar.aose.demo.MusaStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusaStatus</servlet-name>
    <url-pattern>/WebEditor/MusaStatus</url-pattern>
  </servlet-mapping>
</web-app>